ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    background-color: beige;
}

.active-link{
    border: 3px solid red;
    text-decoration: none;
    color: brown;
    padding: 4px;
}